{% extends "base.html" %}
{% block title %}Gestionar Mesas{% endblock %}
{% block content %}
<body data-page="gestionar-mesas" data-key_delete="eliminar_mesas">
    <!--Filtros y agregar Mesas-->
    <section class="card text-bg-secondary mb-3">
        <header class="card-header">
            <div class="d-flex justify-content-between">
                <h3>Gestionar Mesas</h3>
                <a class="btn btn-primary d-flex align-items-center" href="{% url 'agregar_mesa' %}">
                    <i class="bi bi-plus-square me-1"></i>Agregar
                </a>
            </div>
        </header>
        <footer class="card-body">
            <form method="get" action="{% url 'gestionar_mesas' %}">
                <div class="d-flex justify-content-start">
                    <fieldset class="m-2">
                        <label class="form-label">Buscar mesas</label>
                        <input class="form-control" autocomplete="off" type="number" name="q" value="{{ query }}" placeholder="Digite el numero de mesa">
                    </fieldset>
                    <fieldset class="d-flex align-items-end m-2">
                        <button class="btn btn-success" type="submit">Buscar</button>
                    </fieldset>
                </div>
            </form>
        </footer>
    </section>
    <!--Tabla Mesas-->
    <section class="card text-bg-secondary p-3">
        <table id="mi-tabla" class="table table-dark table-hover border border-secondary">
            <thead class="table-secondary">
                <tr>
                    <th class="text-center border-end border-dark">#</th>
                    <th class="text-center">Numero Mesa</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for mesa in mesas %}
                    <tr>
                        <td class="text-center border-end border-secondary">{{ forloop.counter }}</td>
                        <td class="text-center">{{ mesa.numero_mesa }}</td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-warning me-1" href="{% url 'editar_mesa' mesa.id %}"
                            data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Editar">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a class="btn btn-sm btn-danger delete-btn" 
                                data-id="{{ mesa.id }}" 
                                data-delete_url="eliminar/{{ mesa.id }}/"
                                data-msj_delete="¿Está seguro que desea eliminar la mesa numero: {{ mesa.numero_mesa }}?"
                                data-bs-toggle="tooltip" 
                                data-bs-placement="right" 
                                data-bs-title="Eliminar">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </section>
</body>
{% endblock %}