{% extends "base.html" %}
{% load static %}
{% block title %}Barra{% endblock %}
{% block content %}
<body data-page="index" data-url="{% url 'obtener_mesas' %}">
    <!--Mesas-->
    <section>
        <header>
            <h3 class="text-light text-center">
                - <i class="bi bi-grid-3x3 me-2"></i>Barra -
            </h3>
        </header>
        <div class="row row-cols-4">
            {% for mesa in mesas %}
            <a 
                href="{% if mesa.estado_mesa == 0 %}{% url 'agregar_pedido' mesa.numero_mesa %}
                {% elif mesa.estado_mesa == 1 %}{% url 'editar_pedido' mesa.pedido_asociado %}{% endif %}" 
                class="link-underline link-underline-opacity-0 col-lg-2 col-md-2 col-4 mesa-{{ mesa.numero_mesa }}" >
                <div class="card mb-4 p-2 card-hover 
                    {% if mesa.estado_mesa == 1 %}text-bg-danger{% else %}bg-navbar text-light{% endif %}">
                    <img src="{% static 'default_images/mesa.png' %}" class="card-img-top">
                    <div class="card-body border-top text-center p-0">
                        <h4 class="m-0">Mesa {{ mesa.numero_mesa }}</h4>
                        <p class="m-0">{% if mesa.estado_mesa == 1 %}Ocupada{% else %}Disponible{% endif %}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</body>
{% endblock %}


