{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ERROR{% endblock %}</title>
    <!--Favicon Nora-->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/local.css' %}">
    <title>Error</title>
</head>
<body>
    <main>
        <section class="d-flex justify-content-center align-items-center flex-column vh-100">
            <div class="card bg-danger bounce-in-top">
                <header class="card-header">
                    <h2 class="text-light">¡Ups! Algo salió mal</h2>
                </header>
                <div class="card-body">
                    <p class="text-light">Hubo un error al procesar tu solicitud.</p>
                    {% if error_message %}
                        <div class="alert alert-danger">
                            <p><strong>Error:</strong> {{ error_message }}</p>
                        </div>
                    {% endif %} 
                </div>
                <footer class="card-footer d-flex justify-content-between">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <fieldset>
                                <button type="submit" class="btn btn-dark">
                                <i class="bi bi-box-arrow-in-left me-1"></i>Cerrar sesion
                            </button>
                        </fieldset>
                    </form>
                    <a class="btn btn-warning d-flex align-items-center" href="{% url 'index' %}">
                        <i class="bi bi-arrow-90deg-left me-2"></i>Ir a Inicio
                    </a>
                </footer>
            </div>
        </section>
    </main>
</body>
</html>
