__pycache__/
*.pyc
db.sqlite3
.env
node_modules/
static/*
!static/bootstrap/
!static/datatables/
!static/css/
!static/js/
!static/default_images/
!static/favicon.ico
!static/favicon.png
Pendientes.txt