{% extends "base.html" %}
{% block title %}Agregar Cierre{% endblock %}
{% block content %}
    <main class="d-flex flex-column justify-content-start align-items-center" id="page"
    data-page="arqueos" data-key_create="enable">
        <!--Tabla agregar arqueo-->
        <section class="card text-bg-secondary p-3">
            <header class="card-header">
                <div class="d-flex justify-content-between">
                    <h3>Agregar Cierre de Caja</h3>
                    <a class="btn btn-danger" href="{% url 'gestionar_cierres' %}">Cancelar</a>
                </div>
                <fieldset class="m-2">
                    <label class="form-label">Fecha Actual</label>
                    <input class="form-control" type="text" value="{{ fecha_inicio }}" readonly>
                </fieldset>
            </header>
            <div class="card-body" id="data-info" data-info="Finalizando turno">
                <form method="post">
                    {% csrf_token %}
                    <table id="tabla-arqueo" class="table table-dark table-hover border border-secondary">
                        <thead class="table-secondary">
                            <tr>
                                <th>Concepto</th>
                                <th>Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Base</strong></td>
                                <td><input type="text" class="form-control" name="base_cierre" value="{{ total_base }}" readonly></td>
                            </tr>
                            <tr>
                                <td><strong>Total Retiros</strong></td>
                                <td><input type="text" class="form-control" name="tRetiros_cierre" value="{{ total_retiros }}" readonly></td>
                            </tr>
                            <tr>
                                <td><strong>Ventas en Efectivo</strong></td>
                                <td><input type="text" class="form-control" name="tEfectivo_cierre" value="{{ total_efectivo }}" readonly></td>
                            </tr>
                            <tr>
                                <td><strong>Ventas en Nequi</strong></td>
                                <td><input type="text" class="form-control" name="tNequi_cierre" value="{{ total_nequi }}" readonly></td>
                            </tr>
                            <tr>
                                <td><strong>Ventas en Daviplata</strong></td>
                                <td><input type="text" class="form-control" name="tDavip_cierre" value="{{ total_davip }}" readonly></td>
                            </tr>
                            <tr>
                                <td><strong>Total en Caja</strong></td>
                                <td><input type="text" class="form-control" name="tCaja_cierre" value="{{ total_caja }}" readonly></td>
                            </tr>
                            <tr>
                                <td><strong>Total Ventas</strong></td>
                                <td><input type="text" class="form-control" name="tVentas_cierre" value="{{ total_ventas }}" readonly></td>
                            </tr>
                            <tr>
                                <td class="bg-success-subtle text-dark"><strong>Validar Caja</strong></td>
                                <td class="bg-success-subtle">
                                    <input placeholder="Digite un valor" type="number" class="valor form-control border border-success text-success" name="us_caja" required>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Observaciones</strong></td>
                                <td><textarea class="form-control" id="observacion" name="obs_cierre" placeholder="Digite una observación">(Ninguna)</textarea></td>
                            </tr>
                        </tbody>
                    </table>
                    <fieldset class="d-flex justify-content-end">
                        <button class="btn btn-success save-btn" type="button" 
                        data-msj_create="Está seguro de grabar este cierre en:">Grabar</button>
                    </fieldset>
                </form>
            </div>
        </section>
    </main>
{% endblock %}