{% extends "base.html" %}
{% block title %}Editar Retiro{% endblock %}
{% block content %}
<body  data-page="editar_retiro" data-key_create="editar_retiro">
    <main class="d-flex justify-content-center align-items-center flex-column mt-5">
        <section class="card text-bg-secondary mb-3">
            <header class="card-header">
                <h3>Editar Retiro</h3>
            </header>
            <footer class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-start flex-column">
                        <fieldset class="m-2">
                            <label class="form-label" for="valor">Valor:</label>
                            <input class="valor form-control text-primary" type="number" id="valor" value="{{ retiro.retiro_monto }}" name="retiro_monto" placeholder="Digite un monto" required>
                        </fieldset>
                        <fieldset class="m-2">
                            <label class="form-label" for="observacion">Observación:</label>
                            <textarea class="form-control text-primary" id="observacion" name="retiro_observacion" placeholder="Digite una observación">{{ retiro.retiro_observacion }}</textarea>
                        </fieldset>
                        <div class="d-flex justify-content-between m-2">
                            <a class="btn btn-danger" href="{% url 'gestionar_retiros' %}">Cancelar</a>
                            <button class="btn btn-success save-btn" type="submit" 
                            data-msj_create="Está seguro de actualizar este retiro en $:">Guardar</button>
                        </div>
                    </div>
                </form>
            </footer>
        </section>
    </main>
</body>
{% endblock %}