{% extends "base.html" %}
{% block title %}Editar Retiro{% endblock %}
{% block content %}
    <main class="p-3 pe-0 d-flex flex-column gap-3 align-items-center" id="page"
    data-page="Retiros" data-key_create="enable">
        <section class="card text-bg-secondary mb-3">
            <div class="card-header">
                <h3 class="fw-bold">Editar Retiro</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex flex-wrap flex-column gap-2">
                        <fieldset class="filter rounded p-1">
                            <label class="form-label" for="valor">Valor:</label>
                            <input class="valor form-control" type="number" id="valor" value="{{ retiro.retiro_monto }}" name="retiro_monto" placeholder="Digite un monto" required>
                        </fieldset>
                        <fieldset class="filter rounded p-1">
                            <label class="form-label" for="observacion">Observación:</label>
                            <textarea class="form-control" id="observacion" name="retiro_observacion" placeholder="Digite una observación">{{ retiro.retiro_observacion }}</textarea>
                        </fieldset>
                        <div class="d-flex justify-content-between gap-2">
                            <a class="btn btn-outline-danger border border-dark text-dark fw-bold"
                            href="{% url 'gestionar_retiros' %}">
                                <i class="bi bi-x-circle me-1"></i>Cancelar
                            </a>
                            <button class="btn btn-outline-success border text-light save-btn" type="submit" 
                            data-msj_create="Está seguro de grabar este retiro en $:">
                                <i class="bi bi-save2 me-1"></i>Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}