{% load static %}
<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}N O R A{% endblock %}</title>
    <!--FAVICON-->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'datatables/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'sweetalert2/dist/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/local.css' %}">
    <!--JS-->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'datatables/js/datatables.min.js' %}"></script>
    <script src="{% static 'sweetalert2/dist/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'lottie-web/build/player/lottie.js' %}" type="text/javascript"></script>
</head>
<body> 
    
    <!--Mensajes y Alertas-->
    <section>
        <div id="data-messages" data-messages='[
            {% for message in messages %}
                {"text": "{{ message|escapejs }}", "type": "{{ message.tags }}"}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        ]'></div>
    </section>

    {% if user.is_authenticated %}
    <!--Sidebar navegacion-->
    <section class="sidebar-container p-2">
        <nav class="d-flex flex-column rounded border h-100 gap-3 p-1 bg-secondary shadow-inset-left-bottom border border-light">
            <span class="badge text-bg-light p-0 py-1 border border-dark shadow-inset-left-bottom">Menu</span>
            <!--Barra-->
            <a class="
            {% if request.resolver_match.url_name in 'index' %}
                 bg-icon_selected rounded border border-dark
            {% endif %}" href="{% url 'index' %}">
                <div class="sidebar-icon" id="home-icon" 
                data-path="{% static 'lottie-web/icons/wired-outline-63-home-hover-3d-roll.json' %}" 
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="BARRA"></div>
            </a>
            <!--Pedidos-->
            <a class="
            {% if request.resolver_match.url_name in 'gestionar_pedidos agregar_pedido editar_pedido ver_pedido' %}
                bg-icon_selected rounded border border-dark
            {% endif %}" 
            href="{% url 'gestionar_pedidos' %}">
                <div class="sidebar-icon" id="ventas-icon"
                data-path="{% static 'lottie-web/icons/wired-outline-146-trolley-hover-jump.json' %}" 
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="PEDIDOS"></div>
            </a>
            <!--Retiros de caja-->
            <a class="
            {% if request.resolver_match.url_name in 'gestionar_retiros agregar_retiro editar_retiro' %}
                 bg-icon_selected rounded border border-dark
            {% endif %}" href="{% url 'gestionar_retiros' %}">
                <div class="sidebar-icon" id="retiros-icon"
                data-path="{% static 'lottie-web/icons/wired-outline-1933-vote-elections-hover-pinch.json' %}"  
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="RETIROS"></div>
            </a>
            <!--Arqueos-->
            <a class="
            {% if request.resolver_match.url_name in 'arqueo_caja' %}
                 bg-icon_selected rounded border border-dark
            {% endif %}" href="{% url 'arqueo_caja' %}">
                <div class="sidebar-icon" id="arqueos-icon"
                data-path="{% static 'lottie-web/icons/wired-outline-2947-calendar-christmas-eve-hover-pinch.json' %}" 
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="ARQUEOS"></div>
            </a>
            <!--Cierres-->
            <a class=" 
            {% if request.resolver_match.url_name in 'gestionar_cierres agregar_cierre editar_cierre' %}
                 bg-icon_selected rounded border border-dark
            {% endif %}" href="{% url 'gestionar_cierres' %}">
                <div class="sidebar-icon"
                data-path="{% static 'lottie-web/icons/wired-outline-153-bar-chart-hover-growth.json' %}" 
                id="cierres-icon" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="CIERRES"></div>
            </a>
            <!--Bases-->
            <a class="
            {% if request.resolver_match.url_name in 'gestionar_bases agregar_base editar_base' %}
                 bg-icon_selected rounded border border-dark
            {% endif %}" href="{% url 'gestionar_bases' %}">
                <div class="sidebar-icon" id="bases-icon"
                data-path="{% static 'lottie-web/icons/wired-outline-948-stock-share-hover-pinch.json' %}" 
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="BASES"></div>
            </a>
            <!--Productos-->
            <a class="
            {% if request.resolver_match.url_name in 'gestionar_productos agregar_producto editar_producto' %}
                 bg-icon_selected rounded border border-dark
            {% endif %}" href="{% url 'gestionar_productos' %}">
                <div class="sidebar-icon" id="productos-icon"
                data-path="{% static 'lottie-web/icons/wired-outline-567-french-fries-chips-hover-pinch.json' %}" 
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="PRODUCTOS"></div>
            </a>
            <!--Grupos-->
            <a class=" 
            {% if request.resolver_match.url_name in 'gestionar_grupos agregar_grupos editar_grupos' %}
                 bg-icon_selected rounded border border-dark
            {% endif %}" href="{% url 'gestionar_grupos' %}">
                <div class="sidebar-icon" id="grupos-icon" 
                data-path="{% static 'lottie-web/icons/wired-outline-1360-grocery-shelf-in-reveal.json' %}" 
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="GRUPOS"></div>
            </a>
            <!--Mesas-->
            <a class="
            {% if request.resolver_match.url_name in 'gestionar_mesas agregar_mesas editar_mesas' %}
                 bg-icon_selected rounded border border-dark
            {% endif %}" href="{% url 'gestionar_mesas' %}">
                <div class="sidebar-icon" id="mesas-icon" 
                data-path="{% static 'lottie-web/icons/wired-outline-12-layers-hover-slide.json' %}" 
                data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="MESAS"></div>
            </a>

            <!--Usuario-->
            <div class="flex-grow-1"></div>
            <form  action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger px-2 border border-light hover-lift shadow-inset-left-bottom"  
                type="submit" id="logout-btn"data-bs-toggle="tooltip" data-bs-placement="right" 
                data-bs-title="Cerrar Sesión" data-msj_logout="Está seguro de cerrar sesión">
                    <div id="user-icon" 
                    data-path="{% static 'lottie-web/icons/wired-outline-268-avatar-man-hover-glance.json' %}"></div>
                </button>
            </form>
        </nav>         
    </section>
    {% endif %}

    <!--Contenedor principal de plantillas-->
    <section class="
    {% if user.is_authenticated %} 
        main-container 
    {% endif %} 
    {% if not user.is_authenticated %}
        container-fluid h-100 
    {% endif %}">
        {% block content %}{% endblock %}
    </section>

    <!--Script local-->
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
