{% extends "base.html" %}
{% block title %}Agregar Base{% endblock %}
{% block content %}
<body data-page="agregar_base" data-key_create="crear_base">
    <main class="d-flex justify-content-center align-items-center flex-column mt-5">
        <section class="card text-bg-secondary">
            <header class="card-header">
                <h3>Agregar Base</h3>
            </header>
            <footer class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex flex-column">
                        <fieldset class="">
                            <label class="form-label" for="valor_base">Valor</label>
                            <input placeholder="Ingrese la base" id="valor_base" class="valor form-control" type="number" name="base_dia" required>
                        </fieldset>
                        <fieldset class="mt-2">
                            <label class="form-label" for="observacion_base">Observacion</label>
                            <textarea placeholder="Agregar observacion" class="form-control" id="observacion_base" name="base_observacion">Ninguna</textarea>
                        </fieldset>
                        <fieldset class="d-flex justify-content-end mt-2">
                            <button class="btn btn-success save-btn" type="button"
                            data-msj_create="Está seguro de grabar esta base en:">Grabar</button>
                        </fieldset>
                    </div>
                </form>
            </footer>
        </section>
        <section class="alert alert-danger mt-3 border border-danger text-center">
            <i class="bi bi-exclamation-diamond"></i>
            Por favor ingrese una base para el turno de hoy
            <i class="bi bi-exclamation-diamond"></i>
        </section>
    </main>
</body>
{% endblock %}