{% extends "base.html" %}
{% block title %}Agregar Base{% endblock %}
{% block content %}
    <main class="p-3 pe-0 d-flex flex-column gap-3 align-items-center" 
    id="page" data-page="bases" data-key_create="enable">
        <section class="card text-bg-secondary">
            <div class="card-header">
                <h3 class="fw-bold">Agregar Base</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex flex-column gap-2">
                        <fieldset class="rounded filter p-1">
                            <label class="form-label" for="valor_base">Monto</label>
                            <input placeholder="Digite un valor..." id="valor_base" 
                            class="valor form-control" type="number" name="base_dia">
                        </fieldset>
                        <fieldset class="rounded filter p-1">
                            <label class="form-label" for="observacion_base">Observacion</label>
                            <textarea placeholder="Agregar observacion" class="form-control" 
                            id="observacion_base" name="base_observacion">Ninguna</textarea>
                        </fieldset>
                        <fieldset class="d-flex justify-content-end">
                            <button class="btn btn-outline-success border text-light save-btn" type="button" {% if existe_base %} disabled {% endif %}
                            data-msj_create="Está seguro de grabar esta base en: $">
                                <i class="bi bi-save2 me-1"></i>Grabar
                            </button>
                        </fieldset>
                    </div>
                </form>
            </div>
        </section>
        {% if not existe_base %}
            <section class="alert warning-msj border border-warning text-center fw-bold text-focus-in">
                <i class="bi bi-exclamation-diamond"></i>
                Por favor ingrese una base para el turno de hoy
                <i class="bi bi-exclamation-diamond"></i>
            </section>
        {% elif existe_base %}
        <section class="alert success-msj border border-success text-center fw-bold text-focus-in">
            <i class="bi bi-check-circle"></i>
                Ya existe una base para el dia de hoy
            <i class="bi bi-check-circle"></i>
        </section>
        {% endif %}
    </main>
{% endblock %}