{% extends "base.html" %}
{% block title %}Editar Base{% endblock %}
{% block content %}
    <main class="p-3 pe-0 d-flex flex-column gap-3 align-items-center" 
    id="page" data-page="bases" data-key_create="enable">
        <section class="card text-bg-secondary">
            <header class="card-header">
                <h3 class="fw-bold">Editar Base</h3>
            </header>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex flex-column gap-2">
                        <fieldset class="rounded filter p-1">
                            <label class="form-label" for="valor_base">Valor</label>
                            <input placeholder="Digite un valor..." class="valor form-control  text-success" 
                            type="number" id="valor_base" value="{{ base.base_dia }}" name="base_dia">
                        </fieldset>
                        <fieldset class="rounded filter p-1">
                            <label class="form-label" for="observacion_base">Observacion</label>
                            <textarea placeholder="Agregar observacion" class="form-control text-success"
                            id="observacion_base" name="base_observacion">{{ base.base_observacion }}</textarea>
                        </fieldset>
                        <fieldset class="d-flex justify-content-between gap-2">
                            <a class="btn btn-outline-danger border border-dark text-dark fw-bold" 
                            href="{% url 'gestionar_bases' %}">
                                <i class="bi bi-x-circle me-1"></i>Cancelar
                            </a>
                            <button class="btn btn-outline-success border text-light save-btn" type="button"
                            data-msj_create="Está seguro de actualizar esta base en: $">
                                <i class="bi bi-save2 me-1"></i>Actualizar
                            </button>
                        </fieldset>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
