/*-----------------------------------------
        VARIABLES GLOBALES
-----------------------------------------*/

:root {
  --color-primario: #2563eb;
  --color-secundario: #22c55e;
  --color-oscuro_claro: #1e272e;
  
}

/*-----------------------------------------
        BODY
-----------------------------------------*/

.body {
    background-color: var(--color-oscuro_claro);
    height: 100vh;
    margin: 0;
    padding:0px;
    font-family: "NoraFont", sans-serif;
    overflow-x: hidden;
}

/*-----------------------------------------
        SCROLLBAR
-----------------------------------------*/

* ::-webkit-scrollbar {
    width: 2px;
    height: 10px; 
}

* ::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 1px; 
}

* ::-webkit-scrollbar-thumb {
    background: #595f65; 
    border-radius: 10px;
}

* ::-webkit-scrollbar-thumb:hover {
    background: #0C6478;
}

/*-----------------
        FUENTES
-------------------*/
@font-face {
        font-family: "NoraFont";
        src: url("../fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
}
    
@font-face {
        font-family: "NoraFont";
        src: url("../fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
        font-weight: bold;
        font-style: normal;
}

/* Personalizacion de inputs number (sin incrementador o decrementador) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



/*Personalizacion contenido proncipal de plantillas*/
.me-30px {
        margin-right: 30px !important;
}

/*Personalizacion menu lateral derecho*/
.sidebar {
        width: 50px !important;
        overflow-y: scroll; overflow-x: hidden;
}

/*Personalizacion para cards*/
.card {
        border: 1px solid #fff !important;
}

/*Personalizacion offcanvas menu de productos*/
.offcanvas-bottom {
    height: 250px !important;
}

/*Personalizcion hover en barras y mesas*/
.card-hover:hover{
    border:#ffffff 1px solid;
    background-color: #28a745;
}

/*Personalizacion color fondo de navbar*/
.bg-navbar{
    background-color: #0C6478;
}

/*Personalizacion para contenedor de texto version en Login*/
.version{
        width: 100%;
        max-width: 300px;
        height: 10px;
}

/*Animacion de entrada para texto version de login*/
@-webkit-keyframes tracking-in-contract {
        0% {
          letter-spacing: 1em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          letter-spacing: normal;
          opacity: 1;
        }
      }
      @keyframes tracking-in-contract {
        0% {
          letter-spacing: 1em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          letter-spacing: normal;
          opacity: 1;
        }
      }
      
.tracking-in-contract {
	-webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

/*Personalizacon de Login*/
.card-login {
    width: 100%;
    max-width: 300px;
    padding: 0px;
    background-color: #595f65;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(6, 6, 6, 0.87);
}

        .card-header-login{
                border-radius: 5px 5px 0px 0px;
                border-bottom: #fff 1px solid;
        }


/*Animacion de entrada para card login*/
@-webkit-keyframes bounce-in-top {
        0% {
          -webkit-transform: translateY(-500px);
                  transform: translateY(-500px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        38% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
        55% {
          -webkit-transform: translateY(-65px);
                  transform: translateY(-65px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        72% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        81% {
          -webkit-transform: translateY(-28px);
                  transform: translateY(-28px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        90% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        95% {
          -webkit-transform: translateY(-8px);
                  transform: translateY(-8px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }
      @keyframes bounce-in-top {
        0% {
          -webkit-transform: translateY(-500px);
                  transform: translateY(-500px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 0;
        }
        38% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
        55% {
          -webkit-transform: translateY(-65px);
                  transform: translateY(-65px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        72% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        81% {
          -webkit-transform: translateY(-28px);
                  transform: translateY(-28px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        90% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        95% {
          -webkit-transform: translateY(-8px);
                  transform: translateY(-8px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
      }
      
    .bounce-in-top {
            -webkit-animation: bounce-in-top 0.8s both;
                    animation: bounce-in-top 0.8s both;
    }

/*Personalizacion para inputs y otros campos de entrada*/
input, select, textarea{
    border: #fff 1px solid !important;
    background-color: #1e272e !important;
    color: #fff !important;
}

/*personalizacion fieldsets filtros*/
.filter{
        background-color: #f8f9fa;
        border: 1px solid #212121 !important;
}

/*personalizacion labels*/
.form-label{
        color: #000 !important;
        font-weight: bold;
}

/*Personalizacion de botones productos en Agregar Pedido y Editar Pedido*/
.square-btn {
    width: 100px; 
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; 
    white-space: normal;
    font-size:20px;
}

/*Personalizacion de botones grupos en Agregar Pedido y Editar Pedido*/
.rectangle-btn {
        width: 100px; 
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden; 
        white-space: normal; 
        font-size: 12px;
    }

/*Personalizacion texto Nora en Login*/
.nora{
        width: 100%;
        max-width: 400px;
        letter-spacing: 0.7em;
        font-size: 2.5em;
        text-shadow: #000000 0px 3px 3px;
        margin-right: -20px;
}

/*Animacion texto NORA en login*/
@-webkit-keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      @keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }

      .text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }

        .text-focus-in-2 {
	-webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }

/*Personalizacion botones confirmar/cancelar de sweetalert*/
.swal2-confirm {
        background-color: #28a745 !important; /* Verde */
        color: white !important;
        border: #fff 1px solid;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
    }

.swal2-cancel {
        background-color: #dc3545 !important; /* Rojo */
        color: white !important;
        border: #fff 1px solid;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
    }

/*Personalizacion de Boton generico*/
.btn-custom {
        background-color: #0C6478; /* Color de fondo */
        color: #fff; /* Color del texto */
        border: 1px solid #000; /* Borde similar al fondo pero más oscuro */
        transition: all 0.3s ease-in-out; /* Efecto de transición */
    }
    
    .btn-custom:hover {
        background-color: #094F5D; /* Color de fondo más oscuro en hover */
        color: #fff; /* Mantiene el color del texto */
        border-color: #083E4A; /* Borde más oscuro en hover */
    }
    
    .btn-custom:active,
    .btn-custom:focus {
        background-color: #083E4A;
        color: #fff;
        border-color: #062E36;
        box-shadow: 0 0 0 0.2rem rgba(12, 100, 120, 0.5);
    }

/*Personalizacion badge Totalpedido en mesas*/
.mesa-badge {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 10;
        font-size: 0.8rem; 
        padding: 5px 5px;
        border: #fff 1px solid;
    }

/* Ajustes para pantallas medianas (tablets) */
@media (max-width: 768px) {
        .mesa-badge {
            font-size: 0.8rem;
            padding: 4px 4px;
            top: 5px;
            left: 5px;
        }
    }

/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
        .mesa-badge {
            font-size: 0.7rem;
            padding: 3px 5px;
            top: 2px;
            right: 2px;
        }
    }

/*Personalizacion iconos sidebar-icon */
.sidebar-icon{
        width: 35px; 
        height: 35px;
}

.sidebar-icon:hover{
        background-color: #1e1e1e;
        border-radius: 5px 5px;
        padding: -2px;
}

/*Personalizacion para colores de texto*/
.text-orange{
        color: #fd7e14 !important;
}

/**/
.mt-50px{
        margin-top: 50px;
}

/**/
.pe-70px{
        padding-right: 70px;
}

/**/
.me-n50px{
        margin-right: -50px;
}

.w-70px{
        width: 70px;
}

.mt-25p{
        margin-top: 25%;
}

/*Personalizacion animacion en placeholder para todo input*/
input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder {
        color: #fff !important;
    }

    input:focus::-webkit-input-placeholder, 
    textarea:focus::-webkit-input-placeholder {
        transform: translateY(-30px) !important;    
        font-size: 13px !important;
        transition-duration: .6s !important;
    }

/*Personalizacion para alertas y mensajes*/
.custom-swal {
        border: 1px solid #fff !important;
        border-radius: 10px;
    }

@media (max-width: 808px) {   
    .btn-action {
        margin-top: 5px;
        }
}   

.success-msj{
        background-color: #28a745;
        color: #fff;
}

.warning-msj{
        background-color: #ffc107;
        color: #000;
}

input, textarea {
        color: #28a745 !important;
}

.text-adjust{
        font-size: 13px;
    }