/* Personalizacion barra de scroll */
* ::-webkit-scrollbar {
    width: 7px;
    height: 10px; 
}

* ::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 1px; 
}

* ::-webkit-scrollbar-thumb {
    background: #595f65; 
    border-radius: 10px;
}

* ::-webkit-scrollbar-thumb:hover {
    background: #0C6478;
}

/* Ocultar los spinners en navegadores basados en WebKit */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*personalizacion body*/
body {
    background-color: #1e272e;
    height: 100vh;
    margin: 0;
    padding-top:70px;
    color: #080808; 
    font-family: 'Arial', sans-serif;
}

/*personalizacion offcanvas menu lateral derecho*/
.offcanvas-end {
    width: 250px !important;
}

/*personalizacion offcanvas menu de productos*/
.offcanvas-bottom {
    height: 250px !important;
}

/*personalizcion hover en barras y mesas*/
.card-hover:hover{
    border:#fff 1px solid;
}

/*personalizacion color fondo de navbar*/
.bg-navbar{
    background-color: #0C6478;
}

/*personalizacion borde para cada boton*/
.btn{
    border: #080808 1px solid;
}

/*Hover para cada boton*/
.btn:hover{
    border: #fff 1px solid;
}

/*personalizacion para contenedor de texto: version*/
.version{
        width: 100%;
        max-width: 400px;
        height: 10px;
}

/*Personalizacon de Login*/
.card-login {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #595f65;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(6, 6, 6, 0.87);
}

/*Personalizacion de bordes para campos de entrada*/
input, select, textarea{
    border: #080808 1px solid !important;
}

/*personalizacion de botones productos en Agregar Pedido*/
.square-btn {
    width: 100px; 
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; 
    white-space: normal; 
}

.nora{
        width: 100%;
        max-width: 400px;
        letter-spacing: 0.4em;
        font-size: 2.5em;
        text-shadow: #000000 0px 3px 3px;
}

/*Animacion para letras NORA login*/
@-webkit-keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      @keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }

      .text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.text-focus-in-2 {
	-webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/*animacion para software version login*/
@-webkit-keyframes tracking-in-contract {
        0% {
          letter-spacing: 1em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          letter-spacing: normal;
          opacity: 1;
        }
      }
      @keyframes tracking-in-contract {
        0% {
          letter-spacing: 1em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          letter-spacing: normal;
          opacity: 1;
        }
      }
      
.tracking-in-contract {
	-webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

/*Animacion para card login*/
@-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
.bounce-in-top {
	-webkit-animation: bounce-in-top 0.8s both;
	        animation: bounce-in-top 0.8s both;
}

/*Efecto para lestras NORA index*/

.home {
        display:block;
        padding:5px 0;
        line-height:1;
        position:relative;
        z-index:1;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(
            to right,
            #000,
            #000 50%,
            #fff 50%);
        background-size: 200% 100%;
        background-position: -100%;
        transition: all 0.3s ease-in-out;
        &:before{
          display:block;
          content:'';
          width:0;
          height:3px;
          bottom:5px;
          left:0;
          bottom:-3px;
          z-index:0;
          position:absolute;
          background:#000;
          transition: all 0.3s ease-in-out;
        }
        &:hover{
          background-position: 0%;
          &:before{
            width:100%;
          }
        }
}


/*Personalizacion botones de sweetalert*/
.swal2-confirm {
        background-color: #28a745 !important; /* Verde */
        color: white !important;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .swal2-cancel {
        background-color: #dc3545 !important; /* Rojo */
        color: white !important;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
    }
