{% extends "base.html" %}
{% block title %}Editar Grupo{% endblock %}
{% block content %}
<body data-page="editar_grupo" data-key_create="editar_grupo">
    <main class="d-flex justify-content-center align-items-center flex-column">
        <section class="card text-bg-secondary mb-3">
            <header class="card-header">
                <h3>Editar Grupo</h3>
            </header>
            <footer class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex flex-column">
                        <fieldset class="m-2">
                            <label class="form-label" for="nombre_grupo">Nombre de grupo:</label>
                            <input class="valor form-control" type="text" id="nombre_grupo" name="nombre_grupo"
                            value="{{ grupo.nombre_grupo }}" placeholder="Digite un nombre" required>
                        </fieldset>
                        <div class="d-flex align-items-center justify-content-between m-2">
                            <button class="save-btn btn btn-success" type="submit"
                            data-msj_create="Está seguro de actualizar este grupo como:">Guardar</button>
                            <a class="btn btn-danger" href="{% url 'gestionar_grupos' %}">Cancelar</a>
                        </div>
                    </div>
                </form>
            </footer>
        </section>
    </main>
</body>
{% endblock %}
