{% extends "base.html" %}
{% block title %}Gestionar Pedidos{% endblock %}
{% block content %}
<main>
    <!--filtros Pedidos-->
    <section class="card text-bg-secondary mb-3">
        <header class="card-header d-flex justify-content-between">
            <h3>Gestionar Pedidos</h3>
            <a class="btn btn-primary d-flex align-items-center" href="{% url 'index' %}">
                <i class="bi bi-plus-square me-1"></i>Nuevo
            </a>
        </header>
        <footer class="card-body">
            <form method="get" action="{% url 'gestionar_pedidos' %}">
                <div class="d-flex justify-content-start flex-wrap">
                    <fieldset class="m-2">
                        <label class="form-label">Buscar Pedidos</label>
                        <input class="form-control" autocomplete="off" type="number" name="q" value="{{ query }}" placeholder="Digite número del pedido">
                    </fieldset>
                    
                    <fieldset class="m-2">
                        <label class="form-label">Fecha Inicio</label>
                        <input class="form-control" type="date" name="fecha_inicio" value="{{ request.GET.fecha_inicio }}">
                    </fieldset>
            
                    <fieldset class="m-2">
                        <label class="form-label">Fecha Fin</label>
                        <input class="form-control" type="date" name="fecha_fin" value="{{ request.GET.fecha_fin }}">
                    </fieldset>
            
                    <fieldset class="m-2">
                        <label class="form-label">Estado</label>
                        <select class="form-control" name="medio_pago">
                            <option value="">Todos</option>
                            <option value="2" {% if estado == "2" %}selected{% endif %}>Efectivo</option>
                            <option value="3" {% if estado == "3" %}selected{% endif %}>Nequi</option>
                            <option value="4" {% if estado == "4" %}selected{% endif %}>Daviplata</option>
                        </select>
                    </fieldset>
            
                    <fieldset class="d-flex align-items-end m-2">
                        <button class="btn btn-success" type="submit">Buscar</button>
                    </fieldset>
                </div>
            </form>
        </footer>
    </section>
    <!--Tabla pedidos-->
    <section class="card card text-bg-secondary p-3">
        <table id="mi-tabla" class="table table-dark table-hover border border-secondary">
            <thead class="table-secondary">
                <tr>
                    <th class="text-start border-end border-dark">#</th>
                    <th class="text-start">Pedido</th>
                    <th class="text-start">Mesa</th>
                    <th class="text-start">Total</th>
                    <th class="text-center">Medio de pago</th>
                    <th class="text-start">Entró</th>
                    <th class="text-start">Finalizó</th>
                    <th class="text-start">Responsable</th>
                    <th class="text-start">Estado</th>
                    <th class="text-start">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                    {% if pedido.estado_pedido != 1 %} 
                        <tr>
                            <td class="text-start border-end border-secondary">{{ forloop.counter }}</td>
                            <td class="text-start">{{ pedido.numero_pedido }}</td>
                            <td class="text-start">{{ pedido.mesa_id }}</td>
                            <td class="text-start">${{ pedido.total_pedido }}</td>
                            <td class="text-center">
                                {% if pedido.estado_pedido == 2 %}
                                    <span class="badge bg-success">Efectivo</span>
                                {% elif pedido.estado_pedido == 3 %}
                                    <span class="badge bg-primary">Nequi</span>
                                {% elif pedido.estado_pedido == 4 %}
                                    <span class="badge bg-danger">Daviplata</span>
                                {% endif %}
                            </td>
                            <td class="text-start">{{ pedido.creado_en }}</td>
                            <td class="text-start">{{ pedido.actualizado_en }}</td>
                            <td class="text-start">{{ pedido.usuario.username|default:"?" }}</td>
                            <td class="text-start">
                                {% if pedido.creado_en != pedido.actualizado_en %} 
                                    <i class="bi bi-pencil-square text-warning"></i>
                                {% else %}
                                <i class="bi bi-check-square text-success"></i>
                                {% endif %}
                            </td>
                            <td class="text-start">
                                <a class="btn btn-sm btn-light" href="{% url 'ver_pedido' pedido.numero_pedido %}"
                                data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Ver">
                                    <i class="bi bi-eye"></i>
                                </a>
                                {% if request.user.is_superuser %}
                                    <a class="btn btn-sm btn-warning" href="{% url 'editar_pedido' pedido.numero_pedido %}"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Editar">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <a class="btn btn-sm btn-danger delete-btn"
                                        data-id="{{ pedido.numero_pedido }}"
                                        data-bs-toggle="tooltip" 
                                        data-bs-placement="right"
                                        data-bs-title="Eliminar">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".delete-btn").forEach(button => {
            button.addEventListener("click", function (e) {
                e.preventDefault();
                let pedidoId = this.getAttribute("data-id");
                let deleteUrl = `eliminar/${pedidoId}/`;

                const Toast = Swal.mixin({
                    toast: false,
                    position: "center",
                    showConfirmButton: true,
                    showCancelButton: true,
                    confirmButtonText: '<i class="bi bi-trash"></i> Eliminar',
                    cancelButtonText: '<i class="bi bi-x-circle"></i> Cancelar',
                    customClass: {
                        confirmButton: "swal2-confirm",
                        cancelButton: "swal2-cancel"
                    },
                    timer: 10000,
                    timerProgressBar: true,
                    icon: "warning",
                    background: "#1e272e",
                    color: "#f8f9fa",
                    width: "300px"
                });

                Toast.fire({
                    text: `¿Seguro que deseas eliminar el pedido #${pedidoId}?`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = deleteUrl;
                    }
                });
            });
        });
    });
</script>
{% endblock %}