{% extends "base.html" %}
{% block title %}Ver Pedido{% endblock %}
{% block content %}
<main class="w-100 p-3 ps-2 pe-0 d-flex flex-column align-items-center gap-3" id="page" data-page="Pedidos">
    <section class="card text-bg-secondary">
        <header class="card-header d-flex justify-content-between">
            <h3 class="bold">Ver Pedido</h3>
            <button class="btn btn-outline-warning d-flex align-items-center" id="backButton">
                <i class="bi bi-arrow-90deg-left me-2"></i> Volver
            </button>
        </header>
        <div class="card-body d-flex justify-content-center align-items-center">
            <!--Cuerpo factura-->
            <section class="card">
                <header class="card-header text-bg-dark d-flex justify-content-between h5">
                    <span class="badge border border-secondary bg-navbar">
                        Mesa {{ pedido.mesa_id }}
                    </span>
                    <span class="badge border border-secondary bg-success">
                        Pedido #{{ pedido.numero_pedido }}
                    </span> 
                </header>
                <div class="card-body pb-0">
                    <table class="table table-sm table-hover table-bordered border-dark">
                        <thead class="table-dark">
                            <tr>
                                <th>Cantidad</th>
                                <th>Productos</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in productos_con_cantidades  %}
                                <tr>
                                    <td class="text-center">{{ item.cantidad }}</td>
                                    <td>{{ item.producto.nombre_producto }}</td>
                                    <td class="text-center format-numbers">${{ item.total_producto }} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-bg-dark d-flex justify-content-end">
                    <div class="input-group">
                        <span class="input-group-text text-bg-dark border border-secondary">
                            {% if pedido.estado_pedido == 2 %}
                                <span class="badge border border-secondary bg-success">Efectivo</span>
                            {% elif pedido.estado_pedido == 3 %}
                                <span class="badge border border-secondary bg-primary">Nequi</span>
                            {% elif pedido.estado_pedido == 4 %}
                                <span class="badge border-secondary bg-danger">Daviplata</span>
                            {% endif %}
                        </span>
                        <input class="form-control text-center border-secondary format-numbers" type="text" value="{{ pedido.total_pedido }}" disabled>
                    </div>
                </div>
            </section>
        </div>
    </section>
</main>
{% endblock %}